<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ganjoor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ganjoor.Properties.Settings>
            <setting name="SearchPageItems" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LastCat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPoem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSearchPhrase" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSeachStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ViewFont" serializeAs="String">
                <value>Tahoma, 8.25pt</value>
            </setting>
            <setting name="HighlightKeyword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WasShowingFavs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowseButtonVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommentsButtonVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyButtonVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintButtonVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBeytNums" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNumsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxPoemsInList" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LastCatStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GradiantBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GradiantBegin" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="GradiantEnd" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="BackImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="CheckForUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSearchPoetID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HomeButtonVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomButtonVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomOnlyHafez" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LinkColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="CurrentLinkColor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="IsNewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BandLinkColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ScrollToFavedVerse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FavItemsInPage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScrollingSpeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EditorButtonVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinNewPoetID" serializeAs="String">
                <value>1001</value>
            </setting>
            <setting name="MinNewCatID" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="MinNewPoemID" serializeAs="String">
                <value>100001</value>
            </setting>
        </ganjoor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
