<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ganjoor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <ganjoor.Properties.Settings>
      <setting name="SearchPageItems" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LastCat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastPoem" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSearchPhrase" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSeachStart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ViewFont" serializeAs="String">
        <value>Tahoma, 8.25pt</value>
      </setting>
      <setting name="HighlightKeyword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WasShowingFavs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BrowseButtonVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommentsButtonVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CopyButtonVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintButtonVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBeytNums" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNumsVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxPoemsInList" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="LastCatStart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GradiantBackground" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GradiantBegin" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="GradiantEnd" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BackColor" serializeAs="String">
        <value>Window</value>
      </setting>
      <setting name="BackImagePath" serializeAs="String">
        <value />
      </setting>
      <setting name="TextColor" serializeAs="String">
        <value>ControlText</value>
      </setting>
      <setting name="CheckForUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastSearchPoetID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HomeButtonVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RandomButtonVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LinkColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="CurrentLinkColor" serializeAs="String">
        <value>Purple</value>
      </setting>
      <setting name="HighlightColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="IsNewVersion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BandLinkColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ScrollToFavedVerse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FavItemsInPage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ScrollingSpeed" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="EditorButtonVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinNewPoetID" serializeAs="String">
        <value>1001</value>
      </setting>
      <setting name="MinNewCatID" serializeAs="String">
        <value>10001</value>
      </setting>
      <setting name="MinNewPoemID" serializeAs="String">
        <value>100001</value>
      </setting>
      <setting name="HttpProxyServer" serializeAs="String">
        <value />
      </setting>
      <setting name="HttpProxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="RandomCats" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="DownloadButtonVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomDownloadUrls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="CustomDownloadListNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="CustomDownloadListDescriptions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="LastDownloadUrl" serializeAs="String">
        <value>http://i.ganjoor.net/android/androidgdbs.xml</value>
      </setting>
      <setting name="CustomDownloadListMoreInfoUrls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DownloadPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DeleteDownloadedFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DbIsIndexed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SoundsPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportLevel" serializeAs="String">
        <value>Poet</value>
      </setting>
      <setting name="ExportPoetName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportCatName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportPoemName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportPoemSep" serializeAs="String">
        <value>===</value>
      </setting>
      <setting name="ExportCatSep" serializeAs="String">
        <value>---</value>
      </setting>
      <setting name="ExportPoetSep" serializeAs="String">
        <value>***</value>
      </setting>
      <setting name="MuseumToken" serializeAs="String">
        <value />
      </setting>
      <setting name="GanjoorServiceUrl" serializeAs="String">
        <value>http://localhost:3439</value>
      </setting>
      <setting name="LastSearchType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSearchLocationType" serializeAs="String">
        <value>0</value>
      </setting>
    </ganjoor.Properties.Settings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>