<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gsync2vid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <gsync2vid.Properties.Settings>
      <setting name="s3dbpath" serializeAs="String">
        <value />
      </setting>
      <setting name="PoemId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AudioId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastUsedFont" serializeAs="String">
        <value>Tahoma, 20.25pt</value>
      </setting>
      <setting name="LastImageWidth" serializeAs="String">
        <value>960</value>
      </setting>
      <setting name="LastImageHeight" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="LastImagePath" serializeAs="String">
        <value />
      </setting>
      <setting name="UnsplashSearchUrl" serializeAs="String">
        <value>https://source.unsplash.com/random/{0}x{1}</value>
      </setting>
      <setting name="UnsplashSearchTerm" serializeAs="String">
        <value>nature</value>
      </setting>
      <setting name="FFmpegPath" serializeAs="String">
        <value />
      </setting>
      <setting name="VidDefExt" serializeAs="String">
        <value>wmv</value>
      </setting>
      <setting name="TransitionType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AACSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AACFFMpegPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
    </gsync2vid.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
